<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.3.xsd">
		
	<jee:remote-slsb id="myComponent" jndi-name="ejb/myBean"
	      business-interface="com.mycom.MyComponent"/>
	
	<!--  <bean id="myController" class="com.tma.ejb.server.business.HelloWorld">
	  <property name="myComponent" ref="myComponent"/>
	</bean>-->

</beans>
